<h1 mat-dialog-title>{{isEditMode ? 'Editar' : 'Agregar'}} Articulo de la tienda {{data.shop.name}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Code</mat-label>
    <input matInput [(ngModel)]="data.code">
  </mat-form-field>
  
  
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cost</mat-label>
    <input matInput [(ngModel)]="data.cost" type="number">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</div>