.shoppingcart{
    float: left;
    display: flex;
}


.header{
    margin-bottom: 30px; 
    display: flex;
    flex: 1 1 auto;
}

.menu{
    margin: 0 100px 0 100px;
   
}
.example-spacer {
    flex: 1 1 auto;
  }