.row{
    display: flex;
    width: 150%;

}
div{
    padding: 15px 0;
}
.name{
    display: flex;
    width: 50%;
    padding: 0 5px;

}
.cost{
    width: 10%;
    padding: 0 5px;

}
.actions{
    width: 30%;
    
    text-align: center;
    box-sizing: border-box;
    padding: 0 5px;
}